<form [formGroup]="todoForm" (ngSubmit)="onAdd()">
  <label>Title</label>
  <input type="text" placeholder="Title" formControlName="title">
  <input type="submit" value="Add">
</form>
  <hr>

  <div class="todoList">
    <div class="todoItem" *ngFor="let todo of todoList">
      <input #todoChecked type="checkbox" [checked]="todo.done" (change)="onTodoChecked(todoChecked.checked, todo.title)">
      <span *ngIf="todo.done; else elseBlock"><s>{{ todo.title }}</s></span>
      <ng-template #elseBlock>{{ todo.title }}</ng-template>
      <button (click) = "onRemove(todo.title)">delete</button>
    </div>
  </div>

  <button (click) = "onRemoveCompleted()">Remove Completed</button>
  <button (click) = "onRemoveAll()">Remove All</button>

